In [ ]:
# Imports
import pandas as pd
import pyarrow.parquet as pq
import glob
import os

In [ ]:
# Reading the parquet ETL output
parquet_dir = '../data/curated/gmv_daily_snapshot/'
parquet_files = glob.glob(os.path.join(parquet_dir, '*.parquet'))

if parquet_files:
    dfs = [pq.read_table(f).to_pandas() for f in parquet_files]
    df = pd.concat(dfs, ignore_index=True)
else:
    df = pd.DataFrame()

In [23]:
# Checking the data
df.sort_values(['purchase_id', 'snapshot_date'])

,snapshot_date,transaction_date,purchase_id,buyer_id,producer_id,order_date,release_date,product_id,item_quantity,purchase_value,subsidiary,is_current,is_paid
0,2023-01-21,2023-01-20,55,15947.0,852852.0,2023-01-20,2023-01-20,696969,10,50.0,None,False,True
1,2023-01-24,2023-01-23,55,15947.0,852852.0,2023-01-20,2023-01-20,696969,10,50.0,nacional,False,True
4,2023-02-06,2023-02-05,55,160001.0,852852.0,2023-01-20,2023-01-20,696969,10,50.0,nacional,False,True
8,2023-07-13,2023-07-12,55,160001.0,852852.0,2023-01-20,2023-01-20,696969,10,55.0,nacional,False,True
9,2023-07-16,2023-07-15,55,160001.0,852852.0,2023-01-20,2023-03-01,696969,10,55.0,nacional,True,True
2,2023-01-26,2023-01-25,56,NaN,NaN,None,None,808080,120,2400.0,internacional,False,False
3,2023-01-27,2023-01-26,56,369798.0,963963.0,2023-01-25,None,808080,120,2400.0,internacional,True,False
5,2023-02-27,2023-02-26,69,160001.0,96967.0,2023-02-26,2023-02-28,373737,2,2000.0,None,False,True
6,2023-03-01,2023-02-28,69,160001.0,96967.0,2023-02-26,2023-02-28,373737,2,2000.0,nacional,False,True
7,2023-03-13,2023-03-12,69,160001.0,96967.0,2023-02-26,2023-02-28,373737,2,2000.0,internacional,True,True